<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Type movie title here" aria-label="Recipient's username"
                 aria-describedby="basic-addon2" #fieldName (keyup)="processKeyup(fieldName.value)">
        </div>
      </form>
    </div>
  </div>
  <div class="row" style="overflow: hidden">
    <div class="col-md-10 offset-md-1">
      <div class="row" style="overflow: hidden;">
        <div class="col-md-4 mb-4">
          <div class="card" *ngFor="let movie in movies">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{movie.backdropPath}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">{{movie.overflow}}</p>
              <a href="/details/{{movie.id}}}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let movie of movies">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{movie.backdropPath}}  " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">
            {{movie.overview}}
          </p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
