  <div class="container">
    <div *ngIf="!loading && movie != null">
      <h1 class="my-4">
        {{ movie.title }}
        <span class="badge badge-primary">
          {{ movie.voteAverage }}
        </span>
      </h1>
      <div class="row">
        <div class="col-md-8">
          <img
            class="img-fluid"
            src="https://image.tmdb.org/t/p/w500{{movie.backdropPath}}"
            [alt]="movie.title">
        </div>

        <div class="col-md-4">
        <span
          class="badge badge-success"
          *ngFor="let genre of movie.genreIds">
          {{ genre }}
        </span>

          <h3 class="my-3">Overview</h3>
          <p>{{ movie.overview }}</p>

          <h3 class="my-3">Ratings</h3>
          <p>Votes count: {{movie.voteCount}}</p>
          <p>Average vote: {{movie.voteAverage}}</p>
          <h3 class="my-3">Overview</h3>
          <p>{{ movie.overview }}</p>
        </div>

      </div>

      <!-- Related Projects Row -->
      <!--  <div *ngIf="movie.similarMovies.length > 0">-->
      <!--    <h3 class="my-4">Similar Movies</h3>-->
      <!--    <div class="row">-->
      <!--      <div-->
      <!--        class="col-md-3 col-sm-6 mb-4"-->
      <!--        *ngFor="let similarMovie of movie.similarMovies">-->
      <!--        <a-->
      <!--          routerLink="/movie-detail"-->
      <!--          [queryParams]="{ movieId: similarMovie.imdbID }" >-->
      <!--          <img-->
      <!--            class="img-fluid similar-poster"-->
      <!--            [src]="similarMovie.Poster | defaultImage"-->
      <!--            [alt]="similarMovie.Title">-->
      <!--        </a>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
    </div>
  </div>
