<div class="container">
  <div *ngIf="!loading && movie != null">
    <h1 class="my-4" style="font-size: 35px;">
      {{ movie.title }}
    </h1>
    <div class="row">
      <div class="col-md-7">
        <img class="img-fluid" src="{{movie.backdropPath}}" (error)="handleImageError($event)">
      </div>
      <div class="col-md-5 justify-content-center">
        <span class="badge rounded-pill bg-success" *ngFor="let genre of movie.genres">
          {{ genre.name }}
        </span>
        <h3 class="my-3">Overview</h3>
        <p>{{ movie.overview }}</p>
        <hr style="margin-top: 3%"/>
        <h3 class="my-3">Ratings</h3>
        <p>Votes count: {{movie.voteCount}}</p>
        <p>Average vote: {{movie.voteAverage}}</p>
      </div>
      <div *ngIf="movie"></div>
    </div>

    <!-- Related Projects Row -->
    <!--  <div *ngIf="movie.similarMovies.length > 0">-->
    <!--    <h3 class="my-4">Similar Movies</h3>-->
    <!--    <div class="row">-->
    <!--      <div-->
    <!--        class="col-md-3 col-sm-6 mb-4"-->
    <!--        *ngFor="let similarMovie of movie.similarMovies">-->
    <!--        <a-->
    <!--          routerLink="/movie-detail"-->
    <!--          [queryParams]="{ movieId: similarMovie.imdbID }" >-->
    <!--          <img-->
    <!--            class="img-fluid similar-poster"-->
    <!--            [src]="similarMovie.Poster | defaultImage"-->
    <!--            [alt]="similarMovie.Title">-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <hr style="margin: 5% 0 3% 0">
    <h1 class="my-4" style="font-size: 25px;">
      Videos | {{movie.title}}
    </h1>
    <div *ngIf="movie.video">
      <div *ngFor="let video of movie.videos?.results">
        <div>{{video.name}}</div>
        <span class="badge rounded-pill bg-info">
            {{video.type}}
        </span>
        <youtube-player style="display: flex; justify-content: center" videoId="{{video.key}}"
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)">
        </youtube-player>
      </div>
    </div>
    <div *ngIf="!movie.video">
      <div style="display: flex;
                  justify-content: center;
                  height: 20vh;
                  align-items: center;">
        Videos not found:(
      </div>
    </div>
    <hr>
  </div>
</div>
