.movie-slider {
  width: 100%;
  overflow: hidden;
  padding: 3%;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.slider-container::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s;
}

.slider-item {
  width: 200px;
}

.slider-item img {
  height: auto;
}

.slider-item h3, .slider-item p {
  margin: 5px 0;
}