<div style="margin-top: 3%; margin-right: 3%; margin-left: 3%">
  <h1 class="my-4" style="font-size: 30px;">
    {{title}}
  </h1>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let movie of movies" style="margin: 0 10px 0 10px">
      <a [routerLink]="['/details']"
         [queryParams]="{ id: movie.id }">
        <img src="{{movie.posterPath}}" class="img-style"/>
      </a>
      <h2 style="font-size: 20px; display: flex; justify-content: center" >
        {{movie.title}}
      </h2>
    </div>
  </ngx-slick-carousel>
</div>
