<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32" fill="white">
      <use xlink:href="bootstrap-icons.svg#film"/>
    </svg>
    <span class="fs-5 d-none d-sm-inline">
      Watchwise
    </span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li class="nav-item">
      <a routerLink="/movies"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link"
         [class.active]="currentRoute === '/movies'">
        <i class="fs-4 bi-film"></i>
        <span class="ms-1 d-none d-sm-inline">
          Movies
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/search"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link"
         [class.active]="currentRoute === '/search'">
        <i class="fs-4 bi-search"></i>
        <span class="ms-1 d-none d-sm-inline">
          Search
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/watchlists"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link"
         [class.active]="currentRoute === '/watchlists'">
        <i class="fs-4 bi-view-list"></i>
        <span class="ms-1 d-none d-sm-inline">
          Watchlists
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/suggestions"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link"
         [class.active]="currentRoute === '/suggestions'">
        <i class="fs-4 bi-fire"></i>
        <span class="ms-1 d-none d-sm-inline">
          Suggestions
        </span>
      </a>
    </li>
  </ul>
<!--  <a routerLink="/login"-->
<!--     routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"-->
<!--     class="nav-link">-->
<!--    <button type="button" class="btn btn-outline-danger">Log out</button>-->
<!--  </a>-->
</div>
